
.form-control {
    height: 24px !important;
}

@media (max-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
}

@media (min-width: 768px) {
    .text-md-center {
        text-align: center !important;
    }
    .text-md-right {
        text-align: right !important;
    }
}


@media (min-width: 992px) {
    .text-lg-center {
        text-align: center !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
}
